body {
  margin: 0;
  font-family: "Segoe UI", sans-serif !important;
  background-color: #fff7ed !important;
  color: #1f2937 !important;
}

h2 {
  color: #ea580c !important;
}

button {
  background-color: #f97316 !important;
  color: white !important;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #ea580c !important;
}

input {
  border: 1px solid #fed7aa !important;
  border-radius: 8px;
  padding: 10px;
  outline: none;
}

input:focus {
  border-color: #f97316 !important;
}

.card {
  background: #ffffff;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #fed7aa;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.priority.high {
  background-color: #dc2626;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
}

.priority.medium {
  background-color: #f97316;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
}

.priority.low {
  background-color: #22c55e;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
}